In [1]:
import pycaret.classification as pycc
import pickle
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("train.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
list_col_exc =["PassengerId", "Ticket"] + ["Name"]

In [5]:
list_col_exc

['PassengerId', 'Ticket', 'Name']

In [10]:
pycc.setup(df, target = "Survived", train_size=0.75, silent = True, use_gpu = True, ignore_features=(list_col_exc), session_id = 123)

([('Setup Config',
                                  Description             Value
   0                               session_id               123
   1                                   Target          Survived
   2                              Target Type            Binary
   3                            Label Encoded              None
   4                            Original Data         (891, 12)
   5                           Missing Values              True
   6                         Numeric Features                 2
   7                     Categorical Features                 6
   8                         Ordinal Features             False
   9                High Cardinality Features             False
   10                 High Cardinality Method              None
   11                   Transformed Train Set        (668, 133)
   12                    Transformed Test Set        (223, 133)
   13                      Shuffle Train-Test              True
   14                     Stratify Train-Test             False
   15                          Fold Generator   StratifiedKFold
   16                             Fold Number                10
   17                                CPU Jobs                -1
   18                                 Use GPU              True
   19                          Log Experiment             False
   20                         Experiment Name  clf-default-name
   21                                     USI              6761
   22                         Imputation Type            simple
   23          Iterative Imputation Iteration              None
   24                         Numeric Imputer              mean
   25      Iterative Imputation Numeric Model              None
   26                     Categorical Imputer          constant
   27  Iterative Imputation Categorical Model              None
   28           Unknown Categoricals Handling    least_frequent
   29                               Normalize             False
   30                        Normalize Method              None
   31                          Transformation             False
   32                   Transformation Method              None
   33                                     PCA             False
   34                              PCA Method              None
   35                          PCA Components              None
   36                     Ignore Low Variance             False
   37                     Combine Rare Levels             False
   38                    Rare Level Threshold              None
   39                         Numeric Binning             False
   40                         Remove Outliers             False
   41                      Outliers Threshold              None
   42                Remove Multicollinearity             False
   43             Multicollinearity Threshold              None
   44             Remove Perfect Collinearity              True
   45                              Clustering             False
   46                    Clustering Iteration              None
   47                     Polynomial Features             False
   48                       Polynomial Degree              None
   49                    Trignometry Features             False
   50                    Polynomial Threshold              None
   51                          Group Features             False
   52                       Feature Selection             False
   53                Feature Selection Method           classic
   54            Features Selection Threshold              None
   55                     Feature Interaction             False
   56                           Feature Ratio             False
   57                   Interaction Threshold              None
   58                           Fix Imbalance             False
   59                    Fix Imbalance Method             SMOTE),
  ('X_training Set',
         Age        Fare  Pclass_1  Pclass_2  Pclass_3  Sex_male  SibSp_0  \
   660  50.0  133.649994       1.0       0.0       0.0       1.0      0.0
   852   9.0   15.245800       0.0       0.0       1.0       0.0      0.0
   703  25.0    7.741700       0.0       0.0       1.0       1.0      1.0
   886  27.0   13.000000       0.0       1.0       0.0       1.0      1.0
   525  40.5    7.750000       0.0       0.0       1.0       1.0      1.0
   ..    ...         ...       ...       ...       ...       ...      ...
   98   34.0   23.000000       0.0       1.0       0.0       0.0      1.0
   322  30.0   12.350000       0.0       1.0       0.0       0.0      1.0
   382  32.0    7.925000       0.0       0.0       1.0       1.0      1.0
   365  30.0    7.250000       0.0       0.0       1.0       1.0      1.0
   510  29.0    7.750000       0.0       0.0       1.0       1.0      1.0

        SibSp_1  SibSp_2  SibSp_3  ...  Cabin_F33  Cabin_F38  Cabin_F4  Cabin_G6  \
   660      0.0      1.0      0.0  ...        0.0        0.0       0.0       0.0
   852      1.0      0.0      0.0  ...        0.0        0.0       0.0       0.0
   703      0.0      0.0      0.0  ...        0.0        0.0       0.0       0.0
   886      0.0      0.0      0.0  ...        0.0        0.0       0.0       0.0
   525      0.0      0.0      0.0  ...        0.0        0.0       0.0       0.0
   ..       ...      ...      ...  ...        ...        ...       ...       ...
   98       0.0      0.0      0.0  ...        0.0        0.0       0.0       0.0
   322      0.0      0.0      0.0  ...        0.0        0.0       0.0       0.0
   382      0.0      0.0      0.0  ...        0.0        0.0       0.0       0.0
   365      0.0      0.0      0.0  ...        0.0        0.0       0.0       0.0
   510      0.0      0.0      0.0  ...        0.0        0.0       0.0       0.0

        Cabin_T  Cabin_not_available  Embarked_C  Embarked_Q  Embarked_S  \
   660      0.0                  1.0         0.0         0.0         1.0
   852      0.0                  1.0         1.0         0.0         0.0
   703      0.0                  1.0         0.0         1.0         0.0
   886      0.0                  1.0         0.0         0.0         1.0
   525      0.0                  1.0         0.0         1.0         0.0
   ..       ...                  ...         ...         ...         ...
   98       0.0                  1.0         0.0         0.0         1.0
   322      0.0                  1.0         0.0         1.0         0.0
   382      0.0                  1.0         0.0         0.0         1.0
   365      0.0                  1.0         0.0         0.0         1.0
   510      0.0                  1.0         0.0         1.0         0.0

        Embarked_not_available
   660                     0.0
   852                     0.0
   703                     0.0
   886                     0.0
   525                     0.0
   ..                      ...
   98                      0.0
   322                     0.0
   382                     0.0
   365                     0.0
   510                     0.0

   [668 rows x 133 columns]),
  ('y_training Set',
   660    1
   852    0
   703    0
   886    0
   525    0
         ..
   98     1
   322    1
   382    0
   365    0
   510    1
   Name: Survived, Length: 668, dtype: int64),
  ('X_test Set',
              Age       Fare  Pclass_1  Pclass_2  Pclass_3  Sex_male  SibSp_0  \
   172   1.000000  11.133300       0.0       0.0       1.0       0.0      0.0
   524  29.934328   7.229200       0.0       0.0       1.0       1.0      1.0
   452  30.000000  27.750000       1.0       0.0       0.0       1.0      1.0
   170  61.000000  33.500000       1.0       0.0       0.0       1.0      1.0
   620  27.000000  14.454200       0.0       0.0       1.0       1.0      0.0
   ..         ...        ...       ...       ...       ...       ...      ...
   709  29.934328  15.245800       0.0       0.0       1.0       1.0      0.0
   693  25.000000   7.225000       0.0       0.0       1.0       1.0      1.0
   738  29.934328   7.895800       0.0       0.0       1.0       1.0      1.0
   587  60.000000  79.199997       1.0       0.0       0.0       1.0      0.0
   798  30.000000   7.229200       0.0       0.0       1.0       1.0      1.0

        SibSp_1  SibSp_2  SibSp_3  ...  Cabin_F33  Cabin_F38  Cabin_F4  Cabin_G6  \
   172      1.0      0.0      0.0  ...        0.0        0.0       0.0       0.0
   524      0.0      0.0      0.0  ...        0.0        0.0       0.0       0.0
   452      0.0      0.0      0.0  ...        0.0        0.0       0.0       0.0
   170      0.0      0.0      0.0  ...        0.0        0.0       0.0       0.0
   620      1.0      0.0      0.0  ...        0.0        0.0       0.0       0.0
   ..       ...      ...      ...  ...        ...        ...       ...       ...
   709      1.0      0.0      0.0  ...        0.0        0.0       0.0       0.0
   693      0.0      0.0      0.0  ...        0.0        0.0       0.0       0.0
   738      0.0      0.0      0.0  ...        0.0        0.0       0.0       0.0
   587      1.0      0.0      0.0  ...        0.0        0.0       0.0       0.0
   798      0.0      0.0      0.0  ...        0.0        0.0       0.0       0.0

        Cabin_T  Cabin_not_available  Embarked_C  Embarked_Q  Embarked_S  \
   172      0.0                  1.0         0.0         0.0         1.0
   524      0.0                  1.0         1.0         0.0         0.0
   452      0.0                  0.0         1.0         0.0         0.0
   170      0.0                  0.0         0.0         0.0         1.0
   620      0.0                  1.0         1.0         0.0         0.0
   ..       ...                  ...         ...         ...         ...
   709      0.0                  1.0         1.0         0.0         0.0
   693      0.0                  1.0         1.0         0.0         0.0
   738      0.0                  1.0         0.0         0.0         1.0
   587      0.0                  0.0         1.0         0.0         0.0
   798      0.0                  1.0         1.0         0.0         0.0

        Embarked_not_available
   172                     0.0
   524                     0.0
   452                     0.0
   170                     0.0
   620                     0.0
   ..                      ...
   709                     0.0
   693                     0.0
   738                     0.0
   587                     0.0
   798                     0.0

   [223 rows x 133 columns]),
  ('y_test Set',
   172    1
   524    0
   452    0
   170    0
   620    0
         ..
   709    1
   693    0
   738    0
   587    1
   798    0
   Name: Survived, Length: 223, dtype: int64),
  ('Transformation Pipeline',
   Pipeline(memory=None,
            steps=[('dtypes',
                    DataTypes_Auto_infer(categorical_features=[],
                                         display_types=False,
                                         features_todrop=['PassengerId', 'Ticket',
                                                          'Name'],
                                         id_columns=['PassengerId'],
                                         ml_usecase='classification',
                                         numerical_features=[], target='Survived',
                                         time_features=[])),
                   ('imputer',
                    Simple_Imputer(categorical_strategy='not_available',
                                   fill_value_categorical...
                   ('scaling', 'passthrough'), ('P_transform', 'passthrough'),
                   ('binn', 'passthrough'), ('rem_outliers', 'passthrough'),
                   ('cluster_all', 'passthrough'),
                   ('dummy', Dummify(target='Survived')),
                   ('fix_perfect', Remove_100(target='Survived')),
                   ('clean_names', Clean_Colum_Names()),
                   ('feature_select', 'passthrough'), ('fix_multi', 'passthrough'),
                   ('dfs', 'passthrough'), ('pca', 'passthrough')],
            verbose=False))],
 'lightgbm',
 '6761',
      PassengerId  Survived  Pclass  \
 0              1         0       3
 1              2         1       1
 2              3         1       3
 3              4         1       1
 4              5         0       3
 ..           ...       ...     ...
 886          887         0       2
 887          888         1       1
 888          889         0       3
 889          890         1       1
 890          891         0       3

                                                   Name     Sex   Age  SibSp  \
 0                              Braund, Mr. Owen Harris    male  22.0      1
 1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
 2                               Heikkinen, Miss. Laina  female  26.0      0
 3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
 4                             Allen, Mr. William Henry    male  35.0      0
 ..                                                 ...     ...   ...    ...
 886                              Montvila, Rev. Juozas    male  27.0      0
 887                       Graham, Miss. Margaret Edith  female  19.0      0
 888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
 889                              Behr, Mr. Karl Howell    male  26.0      0
 890                                Dooley, Mr. Patrick    male  32.0      0

      Parch            Ticket     Fare Cabin Embarked
 0        0         A/5 21171   7.2500   NaN        S
 1        0          PC 17599  71.2833   C85        C
 2        0  STON/O2. 3101282   7.9250   NaN        S
 3        0            113803  53.1000  C123        S
 4        0            373450   8.0500   NaN        S
 ..     ...               ...      ...   ...      ...
 886      0            211536  13.0000   NaN        S
 887      0            112053  30.0000   B42        S
 888      2        W./C. 6607  23.4500   NaN        S
 889      0            111369  30.0000  C148        C
 890      0            370376   7.7500   NaN        Q

 [891 rows x 12 columns],
 'lightgbm',
 True,
            Age       Fare  Pclass_1  Pclass_2  Pclass_3  Sex_male  SibSp_0  \
 172   1.000000  11.133300       0.0       0.0       1.0       0.0      0.0
 524  29.934328   7.229200       0.0       0.0       1.0       1.0      1.0
 452  30.000000  27.750000       1.0       0.0       0.0       1.0      1.0
 170  61.000000  33.500000       1.0       0.0       0.0       1.0      1.0
 620  27.000000  14.454200       0.0       0.0       1.0       1.0      0.0
 ..         ...        ...       ...       ...       ...       ...      ...
 709  29.934328  15.245800       0.0       0.0       1.0       1.0      0.0
 693  25.000000   7.225000       0.0       0.0       1.0       1.0      1.0
 738  29.934328   7.895800       0.0       0.0       1.0       1.0      1.0
 587  60.000000  79.199997       1.0       0.0       0.0       1.0      0.0
 798  30.000000   7.229200       0.0       0.0       1.0       1.0      1.0

      SibSp_1  SibSp_2  SibSp_3  ...  Cabin_F33  Cabin_F38  Cabin_F4  Cabin_G6  \
 172      1.0      0.0      0.0  ...        0.0        0.0       0.0       0.0
 524      0.0      0.0      0.0  ...        0.0        0.0       0.0       0.0
 452      0.0      0.0      0.0  ...        0.0        0.0       0.0       0.0
 170      0.0      0.0      0.0  ...        0.0        0.0       0.0       0.0
 620      1.0      0.0      0.0  ...        0.0        0.0       0.0       0.0
 ..       ...      ...      ...  ...        ...        ...       ...       ...
 709      1.0      0.0      0.0  ...        0.0        0.0       0.0       0.0
 693      0.0      0.0      0.0  ...        0.0        0.0       0.0       0.0
 738      0.0      0.0      0.0  ...        0.0        0.0       0.0       0.0
 587      1.0      0.0      0.0  ...        0.0        0.0       0.0       0.0
 798      0.0      0.0      0.0  ...        0.0        0.0       0.0       0.0

      Cabin_T  Cabin_not_available  Embarked_C  Embarked_Q  Embarked_S  \
 172      0.0                  1.0         0.0         0.0         1.0
 524      0.0                  1.0         1.0         0.0         0.0
 452      0.0                  0.0         1.0         0.0         0.0
 170      0.0                  0.0         0.0         0.0         1.0
 620      0.0                  1.0         1.0         0.0         0.0
 ..       ...                  ...         ...         ...         ...
 709      0.0                  1.0         1.0         0.0         0.0
 693      0.0                  1.0         1.0         0.0         0.0
 738      0.0                  1.0         0.0         0.0         1.0
 587      0.0                  0.0         1.0         0.0         0.0
 798      0.0                  1.0         1.0         0.0         0.0

      Embarked_not_available
 172                     0.0
 524                     0.0
 452                     0.0
 170                     0.0
 620                     0.0
 ..                      ...
 709                     0.0
 693                     0.0
 738                     0.0
 587                     0.0
 798                     0.0

 [223 rows x 133 columns],
 {'lr': <pycaret.containers.models.classification.LogisticRegressionClassifierContainer at 0x20b5b0d3df0>,
  'knn': <pycaret.containers.models.classification.KNeighborsClassifierContainer at 0x20b5b1e2b20>,
  'nb': <pycaret.containers.models.classification.GaussianNBClassifierContainer at 0x20b5b1e2910>,
  'dt': <pycaret.containers.models.classification.DecisionTreeClassifierContainer at 0x20b5b1e2dc0>,
  'svm': <pycaret.containers.models.classification.SGDClassifierContainer at 0x20b5b1e2d90>,
  'rbfsvm': <pycaret.containers.models.classification.SVCClassifierContainer at 0x20b5b0ca3a0>,
  'gpc': <pycaret.containers.models.classification.GaussianProcessClassifierContainer at 0x20b5b0ca760>,
  'mlp': <pycaret.containers.models.classification.MLPClassifierContainer at 0x20b5b0ca310>,
  'ridge': <pycaret.containers.models.classification.RidgeClassifierContainer at 0x20b5b0ca6a0>,
  'rf': <pycaret.containers.models.classification.RandomForestClassifierContainer at 0x20b5b0ca2e0>,
  'qda': <pycaret.containers.models.classification.QuadraticDiscriminantAnalysisContainer at 0x20b5b05a0a0>,
  'ada': <pycaret.containers.models.classification.AdaBoostClassifierContainer at 0x20b5b05a3d0>,
  'gbc': <pycaret.containers.models.classification.GradientBoostingClassifierContainer at 0x20b5b05a550>,
  'lda': <pycaret.containers.models.classification.LinearDiscriminantAnalysisContainer at 0x20b5b05a5b0>,
  'et': <pycaret.containers.models.classification.ExtraTreesClassifierContainer at 0x20b5b05aa30>,
  'lightgbm': <pycaret.containers.models.classification.LGBMClassifierContainer at 0x20b5b05aeb0>,
  'dummy': <pycaret.containers.models.classification.DummyClassifierContainer at 0x20b5b0f03d0>},
 <MLUsecase.CLASSIFICATION: 1>,
 10,
 None,
 123,
 False,
 None,
 'box-cox',
 [],
 {'acc': <pycaret.containers.metrics.classification.AccuracyMetricContainer at 0x20b5b09c880>,
  'auc': <pycaret.containers.metrics.classification.ROCAUCMetricContainer at 0x20b5b09c8b0>,
  'recall': <pycaret.containers.metrics.classification.RecallMetricContainer at 0x20b5b09c9a0>,
  'precision': <pycaret.containers.metrics.classification.PrecisionMetricContainer at 0x20b5b09caf0>,
  'f1': <pycaret.containers.metrics.classification.F1MetricContainer at 0x20b5b09cc40>,
  'kappa': <pycaret.containers.metrics.classification.KappaMetricContainer at 0x20b5b09cd90>,
  'mcc': <pycaret.containers.metrics.classification.MCCMetricContainer at 0x20b5b09ce20>},
 StratifiedKFold(n_splits=10, random_state=None, shuffle=False),
 False,
 Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=False,

In [19]:
best_clf = pycc.compare_models()
#tune_model = pycc.tune_model(best_clf, choose_better = True, )
#pycc.finalize_model(tune_model)

In [15]:
df_test = pd.read_csv("test.csv")
df_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [14]:
pycc.predict_model(tune_model, data = df_test)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Label,Score
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,0,0.8756
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,0,0.6937
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q,0,0.8890
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,0,0.8768
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S,0,0.5666
...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S,0,0.8768
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C,1,0.9317
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S,0,0.9065
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S,0,0.8768
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C,0,0.8616

In [18]:
model = pycc.load_model("model_Gradient Boosting Classifier")
pycc.predict_model(model, data = df_test)

Transformation Pipeline and Model Successfully Loaded

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Label,Score
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,0,0.8756
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,0,0.6937
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q,0,0.8890
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,0,0.8768
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S,0,0.5666
...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S,0,0.8768
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C,1,0.9317
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S,0,0.9065
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S,0,0.8768
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C,0,0.8616